.wrappuh {
    display: grid;
    grid-template-rows: 15vh 40vh 60vh 60vh 20vh;
    grid-template-columns: 50vw 50vw;
    grid-template-areas: 
    'nav nav'
    'hed hed'
    'sec art'
    'se2 ar2'
    'fot fot';
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    grid-area: nav;
    background-color: #30E053;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    font-size:x-large;
    align-items: center;
}

header {
    grid-area: hed;
    background-color:#15AB33;
    text-align: center;
}

.se1 {
    grid-area: sec;
    background-image: url(../img/andrew_garfield_moonlight.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.se2 {
    grid-area: se2;
    background-image: url(../img/robert_pattinson_reaction.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.article {
grid-area: art;
font-size: larger;
}

.article2 {
    grid-area: ar2;
    font-size: larger;
    }

footer {
    grid-area: fot;
    background-color: #13BE62;
    text-align: center;
}